body nav{
    color: aqua;
}
.header{
    /* margin-top: 3rem; */
    width: 100%;
    height: 100vh;
    background-image: url(./img/CV031507_page-0001.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.header a{
    position: absolute;
    
    /* top: 0rem; */
    bottom: 10rem;
    left: 20rem;
    color: black;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.fa-location-dot{
    color: rgb(165, 14, 14);
}

@media  (max-width:430px){
    .header a{
        position: absolute;
        
        bottom: 16rem;
        left: 6rem;
        color: black;
        font-size: .9rem;
        text-align: center;
        text-decoration: none;
    }

}
* a{
    color: aqua;
}